extend ../../views/layout

block content
	script.
		$(document).ready(function() {
			getOnline();
		});
	style
		tr {height: 9px;}
	div.container-fluid
		div.row
			.col-md-6			
				h3 Pendientes por PCRC
				table#pendiente_pcrc.table.table-striped.table-bordered.table-condensed.table-hover
			.col-md-6
				h3 Operadores Online	
				table#operadores_online.table.table-striped.table-bordered.table-condensed.table-hover			
		div.row
			.col-md-12
				hr 			
		div.row
			.col-md-12
				h3 Reclamos del Día
				table#trabajo_online_por_equipo_detalle.table.table-striped.table-bordered.table-condensed.table-hover			
		br
	
	script(src='/javascripts/scripts/tables_online.js')
	script(src='/javascripts/scripts/tables_selection.js')