.container
	.footer
		//- hr(style='margin: 10px 0 10px 0;')
		//- p &copy;&nbsp;
		//- 	a(href='#') CGTEC
		//- 	| 	
		//- 	|  2014

script(src='/javascripts/jquery.min.js')
script(src='/javascripts/bootstrap.min.js')
script(src='/javascripts/moment.min.js')
script(src='/javascripts/jquery.dataTables.js')
script(src='/javascripts/dataTables.bootstrap.js')
script(src='/javascripts/bootstrap-datepicker.js')
//-script(src='/javascripts/jquery.ellipsis.min.js')
script(src='/javascripts/jquery.dotdotdot.min.js')
script(src='/javascripts/scripts/sidebar.js')
//-script(src='/javascripts/scripts/tables_selection.js')

block footer