block config
	include config

doctype html
html
	head
		title Back Office
		link(rel='stylesheet', href='/stylesheets/datepicker3.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-custom.css')
		link(rel='stylesheet', href='/stylesheets/dataTables.bootstrap.css')
		//-link(rel='stylesheet', href='/stylesheets/font-awesome.css')
		link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		| <style>
		| body { padding-top: 67px; }
		| </style>
		script(src='/javascripts/jquery.min.js')
	body
		include header

		div.container-fluid
			div.row-fluid
				div.col-md-1
					ul.list-unstyled
						li.nav-header 
							br
							a(href="/supervision/") Online
							//ul.list-unstlyed
							//	li.active
							//		a(href="#") Vista 1
							//	li
							//		a(href="#") Vista 2
						li.nav-header
							a(href="/supervision/offline") Offline
				div.col-md-11
					block content

		include footer