block config
	include config

doctype html
html
	head
		title Back Office
		link(rel='stylesheet', href='/stylesheets/datepicker3.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-custom2.css')
		//-link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')		
		link(rel='stylesheet', href='/stylesheets/dataTables.bootstrap.css')
		//-link(rel='stylesheet', href='/stylesheets/font-awesome.css')
		link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/dashboard.css')

		script(src='/javascripts/jquery.min.js')
	body
		include header

		div.container-fluid
			div.row
				div.col-sm-3.col-md-2.sidebar
					ul.nav.nav-sidebar
						li
							a(href="/supervision/") Detalle Online
						li
							a(href="/supervision/offline") Métricas
				div.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
					block content

		include footer
